@page "/Admin/Config"
@inject IConfiguration Configuration
<div class="input-group mb-3">
    <span class="input-group-text">网站标题</span>
    <input type="text" class="form-control" value="@Configuration["Title"]" disabled="">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">采集间隔</span>
    <input type="text" class="form-control" value="@Configuration["Interval"]" disabled="">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">用户密钥</span>
    <input type="text" class="form-control" value="@Configuration["Token"]" disabled="">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">姓名</span>
    <input type="text" class="form-control" value="@Configuration["Name"]" disabled="">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">头像</span>
    <input type="text" class="form-control" value="@Configuration["Avatar"]" disabled="">
</div>
<div class="input-group mb-3">
    <span class="input-group-text">一言</span>
    <input type="text" class="form-control" value="@Configuration["Sentence"]" disabled="">
</div>
<div class="m-3" style="text-align: center">
    修改根目录中的 appsettings.json 文件后立即生效
</div>

