@page "/Admin/Feed"
@using Moments.Model
@using Moments.Service
@inject IFreeSql Db
@inject IJSRuntime JsRuntime
@inject GatherService GatherService
<div class="m-1">
    <button class="btn btn-danger" @onclick="DelAll">清空数据</button>
    <button class="btn btn-success" @onclick="Gather">一件采集</button>
    
</div>

<div>
    <div class="list-group list-group-flush border-bottom scrollarea">
        @foreach (var item in _nodeList)
        {
            <div style="cursor: pointer" @onclick="() => { _now = item; }" data-bs-toggle="modal" data-bs-target="#content" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">@item.Title</strong>
                    <small class="text-muted">
                        @item.PubDate.ToString("MM月dd日 tt hh:mm")
                    </small>
                </div>
                <div class="col-10 small mt-2">
                    @item.FriendId
                </div>
            </div>
        }
    </div>
    <div style="text-align: center;margin: 20px">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" @onclick="async () => { await PutPage(_p - 1); }">上页</button>
            <button type="button" class="btn btn-outline-primary" @onclick="async () => { await PutPage(_p + 1); }">下页</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="content" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@_now.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body markdown-body">
                    @(new MarkupString(_now.Content ?? "暂无阅览，请查看全文"))
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <a target="_blank" href="@_now.Link" class="btn btn-primary">查看原文</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    List<Article> _nodeList = new();
    Article _now = new();
    int _p = 1;
    long _count;
    int _maxP;

    protected override async Task OnInitializedAsync()
    {
        _count = await Db.Select<Article>().CountAsync();
        _maxP = (int)Math.Ceiling(_count / 10.0);
        _nodeList = await Db.Select<Article>().OrderBy("PubDate DESC")
            .Limit(10)
            .ToListAsync();
        StateHasChanged();
    }

    async Task PutPage(int p)
    {
        if (p < 1)
        {
            p = 1;
        }
        if (p > _maxP)
        {
            p = _maxP;
        }
        _p = p;
        _nodeList = await Db.Select<Article>().OrderBy("PubDate DESC")
            .Offset((p - 1) * 10)
            .Limit(10)
            .ToListAsync();
        StateHasChanged();
    }

    async Task DelAll()
    {
        await Db.Delete<Article>()
            .Where("1=1")
            .ExecuteAffrowsAsync();
        await JsRuntime.InvokeVoidAsync("toast", "提示：", "清空成功");
        _nodeList.Clear();
    }

    async Task Gather()
    {
        GatherService.GatherRssAll();

        await JsRuntime.InvokeVoidAsync("toast", "提示：", "采集任务启动成功，请稍等一会刷新本页面！");
    }

}