@using Moments.Model
@inject IFreeSql Db
@inject IConfiguration Configuration
<div class="m-1">
    <a target="_blank" href="/gather/@Configuration["Token"]" class="btn btn-secondary">发起采集</a>
    <button class="btn btn-danger" @onclick="DelAll">清空日志</button>
</div>
<table class="table" style="margin-top: 10px">
    <thead>
    <tr>
        <th scope="col">博客</th>
        <th scope="col">数量</th>
        <th scope="col">时间</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in _gatherLogs)
    {
        <tr>
            @if (item.Error is null)
            {
                <td>
                    <span data-bs-toggle="modal" data-bs-target="#gather-info" @onclick="() => { _item = item; }">@item.Name</span>
                </td>
            }
            else
            {
                <td style="color: red;cursor:pointer;">
                    <span data-bs-toggle="modal" data-bs-target="#gather-info" @onclick="() => { _item = item; }">@item.Name</span>
                </td>
            }
            <td>@item.Num</td>
            <td>@item.DateTime</td>
            <td>
                <button class="btn btn-sm btn-danger" @onclick="() => { _del = item;Del(); }">删除</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Info Modal -->
<div class="modal fade" id="gather-info" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">信息</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @_item.Url<br> <br>
                @_item.Error

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@code {
    List<GatherLog> _gatherLogs = new();
    GatherLog _item = new();
    GatherLog _del = new();

    protected override async Task OnInitializedAsync()
    {
        _gatherLogs = await Db.Select<GatherLog>().ToListAsync();
    }


    async void Del()
    {
        await Db.Delete<GatherLog>()
            .Where(x => x.GatherId == _del.GatherId)
            .ExecuteAffrowsAsync();
        _gatherLogs.Remove(_del);
    }

    async void DelAll()
    {
        await Db.Delete<GatherLog>()
            .Where("1=1")
            .ExecuteAffrowsAsync();
        _gatherLogs.Clear();
    }

}