@page "/Apply"
@using Moments.Service
@using Moments.Model
@inject FriendService FriendService
<div style="padding: 20px">
    <MCard
        Elevation="2">
        <MCardTitle>加入我的朋友圈</MCardTitle>
        <MCardText>
            加入之前请先添加本站的博客为友链，需要满足一定的要求：
            查看：<a href="https://dearain.cn/links" target="_blank">https://dearain.cn/links</a>
            <MRow>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Name"
                                Label="博主名称*"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Avatar"
                                Label="头像"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Info"
                                Label="简介"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Email"
                                Label="邮箱"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Link"
                                Label="链接*"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
                <MCol Cols="12">
                    <MSelect Items="Enum.GetNames(typeof(Rule))"
                             @bind-Value="@_item.Rule"
                             ItemText="u => u"
                             ItemValue="u => (Rule)Enum.Parse(typeof(Rule), u)"
                             Label="规则"
                             Dense
                             HideDetails="@("auto")"
                             Outlined>
                    </MSelect>
                </MCol>
                <MCol Cols="12">
                    <MTextField @bind-Value="_item.Feed"
                                Label="Feed"
                                Dense
                                Outlined
                                HideDetails="@("auto")"/>
                </MCol>
            </MRow>
        </MCardText>
        <MCardActions>
            <MButton OnClick="Submit">提交</MButton>
        </MCardActions>
    </MCard>

</div>

@code
{
    readonly Friend _item = new();

    void Submit()
    {
        if (_item.Link is null || _item.Name is null)
        {
            MainLayout.PushSnackbars(AlertTypes.Warning, "请填写带*号的必填项！");
            return;
        }
        var temp = FriendService.First(x => x.Link == _item.Link);
        if (temp is not null)
        {
            MainLayout.PushSnackbars(AlertTypes.Error, "请勿重复提交！");
            return;
        }
        _item.Visible = false;
        FriendService.Add(_item);
        MainLayout.PushSnackbars(AlertTypes.Success, "申请成功！");
    }
}